<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
      Abhishek Kalhan : N01495445
    </header>
  <body>
    {{{body}}}
  </body>
  <footer>
      abhishek.kalhan@gmail.com
  </footer>
</html>